*{
    margin: 0 auto;
    background-image: url("../img/BgPortforio.png");
    color: #fff;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.top{
    margin: 5px;
    display: flex;
    position: fixed;
    top: 0;
}

.top-nav{
    padding-top: 2px;
    position: absolute;
    left:0;
}

.top-tab{
    margin-left: 40px;
    display: flex;
    text-align: center;
}

.top-tab-item{
    width: 100px;
    height: 32px;
    margin-left: 3px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: radial-gradient(aqua,skyblue);
    display: block;
    text-decoration: none;
}

.mask{
    display: none;
}

.is-active{
    background: radial-gradient(blue,skyblue);
}

.main{
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-contents{
    width: 100%;
    height: 100vh;
    border: none;
    display: none;
}

.bottom{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    bottom: 0;
}

.form-contents{
   width: 100%;
   border-radius: 10px;
   color: #000;
   background: #fff;
   display: block;
   padding: 30px;
   box-sizing: border-box;
}

.form-contents p{
    color: #000;
    background: #fff;
}

.form-contents input{
    color: #000;
    background: #fff;
}

.bottom-form{
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 10px;
    background:radial-gradient(blue,skyblue);
    text-decoration: none;
}