*{
    margin: 0 auto;
    background-image: url("../img/BgPortforio.png");
    color: #fff;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.top{
    margin: 5px;
    display: flex;
    position: fixed;
    top: 0;
}

.top-nav{
    padding-top: 2px;
    position: absolute;
    left:0;
}

.top-tab{
    margin-left: 40px;
    display: flex;
    text-align: center;
}

.top-tab-item{
    width: 100px;
    height: 32px;
    margin-left: 3px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: radial-gradient(aqua,skyblue);
    display: block;
    text-decoration: none;
}

.mask{
    display: none;
}

.is-active{
    background: radial-gradient(blue,skyblue);
}

.main{
    margin-top: 50px;
}

.main-contents{
    display: none;
}